<section id="second-block">
    
    <div class="about-container">
      <p class="info-text">
        <b>デート</b>
        <br>
        <span class="font-small">
        ・何を話せばいいんだろう？
        <br>
        ・どう接すればいいんだろ<br>　う？
        <br>
        
        </span>
        
      </p>
      <div class="kanato">
        <%= image_tag 'date.png' %>
      </div>      
    </div>

    <div class="maharu">
      <h2>おすすめの話題・テクニック</h2>
      <p>
        <b>・学生時代の部活</b>：相手に問いかけて答えてもらう。<br>　　　　　　　　→意外な一面を見せることができる。＋思い出話に話を広げられる。
        <br><b>・好きな音楽</b>：自分が聞いたことがある/ないよりも知ろうとすることが大切！
        <br>　　　　　　　※聴いたうえでの素直な感想は〇
        <br><b>・共通の友達の話</b>：お互いに知っている人物だからこそ話が弾み、笑いが起こりやすい。
        <br><b>・ギャップ</b>：普段はアホっぽいけど、親しくなるうちにまじめな人だと思ってもらう。　
        <br>　　　　　※普段：アホっぽい→親しくなってから：アホっぽい　→好印象
        <br><b>・相手の好奇心、自尊心、向上心をくすぐる</b>
        <br>　　　好奇心：倒置法を使う。例、「素敵ですね。今日の髪型。」
        <br>　　　自尊心：コンプレックスの話をされても「ありのままのあなたが好きだ」と伝える。
        <br>　　　向上心：「あなたならできる！」というメッセージを送る。 
        
      </p>
    </div>
</section>
  <!--   Second block End   -->