<section id="second-block">
    
    <div class="about-container">
      <p class="info-text">
        <b>上司</b>
        <br>
        <span class="font-small">
        ・1対1になったとき、話す<br>　ことがない。
        <br>・マウントをとってくる<br>　上司の扱い
        <br>
       
        </span>
        
      </p>
      <div class="kanato">
        <%= image_tag 'jousi.png' %>
      </div>      
    </div>

    <div class="maharu">
      <h2>おすすめの質問・テクニック</h2>
      <p>
        <b>・質問🔄リアクションを繰り返す</b>　☆リアクション時の感心を重視する
        <br>　　例、部下.「時間管理で意識していることはありますか？」
        <br>　　　　上司.「特に何もやってないよ」
        <br>　　　　部下.「何もやってなくてそんなにできるんですか！さすがです。」　☆感心する対象を広げて考えよう！
        <br>
        <br><b>・一問二答</b>：聞かれたことに対して、プラスでもう一言付け加える。
        <br>　　例、「部活は何をやっていたの？」→「高校でサッカー部に入ってました。」
        <br>　　　→ ＋α「今でもフットサルやったりするんですけど、筋肉痛が何日も続いて歳を感じてます。」
        <br>
        <br><b>・マウントをとってきたら「すごい！」と奉る</b>：マウントをとる人と競争しない、させないことで本人も落ち着く。
        <br>　　例、上司「私が担当の時は売り上げが今の〇倍はいってたよ。」→「それは心強いです！ぜひ先輩のお力添え<br>　　　　いただきたいです。」
        <br>
      </p>
    </div>
</section>
  <!--   Second block End   -->