
<section id="second-block">
    
    <div class="about-container">
      <p class="info-text">
        <b>共通して使えるテクニック</b>
        <br>
        <span class="font-small">
        
        <br>
        
        <br>
        
        </span>
        
      </p>
      <div class="kanato">
        <%= image_tag 'nomikai.jpg' %>
      </div>      
    </div>

    <div class="maharu">
      <h2>テクニック</h2>
      <p>
        <b>・映像を頭に思い浮かべる</b>：その状況でその人はどう思った？
        <br>　　例、「近所のお蕎麦屋さんの海老天が3本から2本に1本少なくなったんです。」
        <br>　　―(海老天が少なくなった時、この人はどう思う？)→「それは残念ですね。」
        <br>　　×「どこも値上がりですね。」/「私の行ってるところは3本のままですよ。」
        <br>　　　→相手が「そうですね。/そうですか。」と言って話が終わってしまう。
        <br>　　☆相手の話したい事を想像しながら話を進める。
        <br>
        <br><b>・スマホの写真を一枚一枚見せながら話す感覚</b>：1つの文には1つの話題
        <br>　　×「昨日、温泉に行ってきたんだけど、駅でカギを閉め忘れたことに気づいてあわてて帰ったから時間がぎりぎ
        <br>　　　　りになって大変だったんだけど、旅館もきれいで良かったよ。」
        <br>　　〇「昨日温泉に行ってきたんだ。/でも、駅で鍵を閉め忘れたことに気づいて、あわてて帰ったから到着時間が
        <br>　　　　ぎりぎりになって大変だったんだ。/ばたばただったけど、旅館もきれいで良かったよ。」
        <br>
        <br><b>・相手が理解したかどうかは相槌で確認する。</b>：会話の相手がうなずいたり、何か相槌を打つまで次の話に進まな
        <br>　　　　　　　　　　　　　　　　　　　　　　い。(映像を浮かべている最中にどんどんすすんではいけない。)
        <br>
        <br><b>・相談</b>：相談は自動的に自分の「弱点をさらす」ことなので相手に親しみを持ってもらえる。
        <br>
        <br><b>
      </p>

    </div>
</section>
  <!--   Second block End   -->
