
<section id="second-block">
    
    <div class="about-container">
      <p class="info-text">
        <b>飲み会</b>
        <br>
        <span class="font-small">
        ・たくさん人がいて会話に<br>　入れない。
        <br>
        ・愛想笑いしかできない。
        <br>
        
        </span>
        
      </p>
      <div class="kanato">
        <%= image_tag 'nomikai.jpg' %>
      </div>      
    </div>

    <div class="maharu">
      <h2>おすすめの話題・テクニック</h2>
      <p>
      <br><b>・定番</b>：趣味、休日の過ごし方、お酒・食事
      <br>
      <br><b>・自分のやらかしエピソード</b>：笑い話。素の自分を知ってもらうことで周りの人との距離が縮まる。
      <br>
      <br><b>・「ハブポジション」を攻める</b>：グループの会話の時、必ず中心となる人物がいるはず。
      <br>　　　　　　　　　　　　　　　その人を中心にコンタクトをとる。
      <br>
      <br><b>・2,3人で話す</b>：少人数なら1人1人の存在が埋もれにくい。
      <br>
      <br><b>・アイコンタクト＋気持ちの乗った相槌</b>：話し手からして良い反応をしてくれる人はとてもありがたい。
      <br>　　　　　　　　　　　　　　　　　　　いい反応が会話に入り込む空白を作ってくれる。
      <br>
      <br><b></b>
      </p>

    </div>
</section>
  <!--   Second block End   -->
