<section id="second-block">
    
    <div class="about-container">
      <p class="info-text">
        <b>初対面</b>
        <br>
        <span class="font-small">
        ・沈黙をどうにかしたい
        <br>
        ・ただの質疑応答になって<br>　しまう
        <br>
        
        </span>
        
      </p>
      <div class="kanato">
        <%= image_tag 'syotaimen.png' %>
      </div>      
    </div>

    <div class="maharu">
    <h2>おすすめの質問・テクニック</h2>
    <p><b>・出身</b>：「○○出身なんだよね。」→「○○が有名でさ。」
      <br>　　　　※何も思い浮かばなかったら、景色を想像しよう！　
      <br>　　　　例「周りが田んぼだから、夏にカエルの声がすごいんだよね。/。」
      <br>
      <br><b>・言語化</b>　気まずい空気を「ちょっと気まずいよね。」と言葉にする。→気まずさが軽減
      <br>
      <br><b>・当てずっぽ</b>　例A.「野球やってた？」→B.「サッカーです。」→A.「だよねw。そうだと思ったよ！」
      <br>
      <br><b>・先入観をぶつける</b>：相手は否定しようとして口数が増える。プラスなイメージだと良い。
      <br>　　　　例、「出身って○○だっけ？」→「○○は旦那の出身で、私の出身は××だよ。」
      <br>　　　　→ご主人に関する話題やその人の出身に話が広がる。
      <br>
      <br><b>・質問を「なぜ・どうして」から「どうやって」に変える</b>→相手は単語ではなく、文章で答えるようになる
      <br>　　　　例、「趣味は山登りが好きと言っていましたが、何で山が好きなんですか？」→答えにくい
      <br>　　　　　　「山登りって具体的にどうやるんですか？」→答えやすい
      <br><b>・会話の中で相手の名前を呼ぶ</b>：名前を呼ぶ=相手の存在を認めること　
      <br>　　　　※ワンパターンにならないように注意！
      <br>　　　　〇:「○○さん的にどう？」、「○○さんなら大丈夫。」、「○○さんは黒が似合うね。」
    </p>
    </div>
</section>
  <!--   Second  End   -->block